[submodule "src/lib/metalua"]
	path = src/lib/metalua
	url = https://github.com/hleb-rubanau/metalua.git
	branch = dev

[submodule "src/util/string"]
	path = src/util/string
	url = https://github.com/compy-toys/stringutils.git
